/*Universal selector*/
* {
	font-family: "Verdana", sans-serif;, monospace;
	font-size: 20px;
	color= yellow ;
}

/*Type Selector*/
#intro {
	font-size: 2rem;
}

/*ID Selector*/
#bootcamp {
	text-transform: uppercase;
}

/*ID selector*/
#external{
	color: yellow; 
}

/*Class selector*/
.languages {
	background-color: hotpink;
}

/*Attribute selector*/
li[class="tools"] { 
	border: 2px solid red;


}

/*Adjacent Sibling selector*/
img + ul  {
	list-style-type: none;
}

/*Descendant selector*/
section img{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

/*Generic sibling selector*/
ul ~ p {
 text-align: center;
}


/*Child selector*/
ul > li {
	letter-spacing: 10px;
}